
$h_padding: 1vw;
$histogram_width: 20vw;
$q_bar_width: 38vw;
$newspaper_list_height: 92.75vh - 5vh;
$search_bar_height: 4.75vh;
$date_range_height: 5vh;

$off_white_background: #F8F8F8;
$g_blue: #2962ff;
$off_grey : #E8E8E8;
$dark_grey: #5C5E68;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.std-height{
  height: 97.5vh;
}

.std-margin{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: $h_padding;
  margin-left: $h_padding;
}

.std-border{
  border: 1px solid black;
  border-radius: 3px;
}

.module-background{
  background-color: #5C5E68;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: $off_grey;
  color: #fbfbfb;
}

button{
  background-color: transparent;
  border: transparent;
  border-radius: 3px;
}

/* LEFT */
.left{
  width: $histogram_width;
}

#histogram-wrapper{
  height: 78.5vh;
  position: relative;
  display: inline-block;
}

#histogram{

}

#histograph-filter-wrapper{
  height: 18.5vh;
  position: fixed;
  bottom: 0;
  padding: 0.3%;
}

.filterWordWrapper{
  display: inline;
  border: 1px black solid;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 4%;
  border-radius: 15% 15% 15% 15%;
  float: left;

  background-color: #7C7E88;
}

.filterWordWrapper:hover{
  cursor: pointer;
  background-color: #FFCCCB;

  .filterWordText{
    font-style: italic;
    color: black;
  }
  .wordClose{
    color: red;
  }
}

.filterWordText{
  padding-right: 5%;
  padding-left: 5%;
  display: inline-block;
}

.wordClose{
  display: inline;
  margin-left: 1vw;
}

.center{
  left: $h_padding + $histogram_width;
  width: $q_bar_width;
}

.searchNoFocus{
  background-color: #e8e8e8;
  box-shadow: none;
  
  #search-bar{
    background: #e8e8e8;
  }
}

.searchHasFocus{
  background-color: white;

  #search-bar{
    background: white;
  }
  box-shadow: 0.5px 1px 0.5px grey;
}

#search-bar-wrapper{
  text-align: center;
  height: $search_bar_height;
  position: fixed;
  top: 0;

  i{
    width: 9%;
  }

  input{
    width: 91%;
  }

  transition: background-color 0.5s, box-shadow 0.5s;
}

#search-bar-wrapper:focus{
}

#searchIcon{
  color: $dark_grey;
}

#search-bar{
  width: 97.5%;
  height: 90%;
  border: 0;
  margin-top: .45%;
  color: black;
  padding: 5px;

  transition: background 0.5s;
}

#search-bar:focus{
  outline: none;
  background: white;
}



#newspaper-wrapper{
  height: $newspaper_list_height;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  background-color: $off_grey;

  list-style-type: none;
}


$newspaper_width_margin: 0vw;
$newspaper_height_margin: 0.5vh;
.newspaper{
  height: auto;
  border: 1px solid grey;
  border-radius: 1%;
  cursor: pointer;

  color: black;
  background: white;

  margin-top: $newspaper_height_margin;
  margin-bottom: $newspaper_height_margin;
  margin-left: $newspaper_width_margin;
  margin-right: $newspaper_width_margin;

  p{
    word-wrap:break-word;
  }

  position: relative;
  box-shadow: 0.5px 1px 0.5px grey;
  transition: box-shadow 0.2s;
}

.newspaper:hover{
  .newspaper-expander{
    color: black;
  }
  box-shadow: 1px 2px 1px grey;
}

.newspaper{
  .newspaper-expander:hover{
    color: $g_blue;
  }
}

.newspaper-header:hover{
  border-bottom: 1px solid $g_blue;
  color : $g_blue;
}

.disabledButton{
  color: grey;
  cursor: default;
}

$newspaper_header_size : 140%;
$newspaper_subtile_size : ($newspaper_header_size * 2) / 3;
.newspaper-header{
  font-size: $newspaper_header_size;
  font-weight: 600;
  display: inline-block;
  margin-top: 1.5vh;
  margin-bottom: 0.25vh;
  border-bottom: 1px solid white;

  -webkit-transition: color 0.2s; /* Safari */
  transition: color 0.2s;
}

.newspaper-subheading{
  font-size: 100%;
  color: #757575;
  font-size: $newspaper_subtile_size;
  margin-bottom: 1.5vh;
  display: block;
}
.newspaper-content{

}

.newspaper-expander{
  position: absolute;
  bottom: 1vh;
  right: 1.5vh;
  color: gray;
}

#date-range{
  text-align: center;
  border-bottom: 1px solid black;
  height: $date_range_height;
  font-size: 2.5vh;
  position: fixed;
  bottom: $newspaper_list_height;
}

$arrow_margin: 10vw;
#larrow{
  margin-left: $arrow_margin;
}

#rarrow{
  margin-right: $arrow_margin;
}

.parent{
  display: table;
}

.child{
  display: table-cell;
  vertical-align: middle;
}

/* RIGHT */
.right{
  width: 38vw;
  position: fixed;
  right: 0;
}

#knowledge-graph-wrapper{
  height: 48vh;
  top: 0;
}


#topic-graph-wrapper{
  height: 48vh;
  bottom: 0;
}

.graph-header{
  text-align: center;
  border-bottom: 1px solid black;
}

/*iFrame*/
#frame-wrapper{
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100vw;
  top: 0;

  animation-name: fadeIn;
  animation-duration: .75s;
}

.frame{
  border: 1px solid darkgrey;
  border-radius: 3px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;

  animation-name: popup;
  animation-duration: .75s;
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popup{
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 80vw;
    height: 80vh;
  }
}

.cannot-load{
  display: table;

  text-align: center;
  font-size: 36px;
  background-color: #5C5E68;
}

.loader-wrapper{
  display: table-cell;
  vertical-align: middle;
}

.loader {
  border: 16px solid #e8e8e8; /* Light grey */
  border-top: 16px solid #dd3333; /* Blue */
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 1.25s linear infinite;
  margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popup{
  position: relative;
  background-color: #e8e8e8;
  border: 2px solid darkgrey;
  border-radius: 3px;
  color: black;
  width: 15vw;
  height: 10vh;
  margin: 0;


  animation-name: swoosh;
  animation-duration: 1s;
}

.close-button{
  position: absolute;
  width: 1.5vw;
  float: right;
  right: 0%;
  top: 0%;
}

#popup-text{
  margin-top: 2.5vh;
  margin-left: 0.5vw;
}

@keyframes swoosh {
  from{left: -15vw;}
  to{left: 0vw;}
}
